---
import Section from "./section.astro"
import { basics } from '../cv.json'
import AnimatedText from "./AnimatedText.astro"
const { summary } = basics
---
<Section title="About">
    <div id="unique-paragraph" class="paragraph-style">
        <AnimatedText text={summary} />
      </div>
</Section>

<style>
    /* Estilos para el párrafo */
    .paragraph-style {
		color: #888;
		font-size: 0.8rem;
		line-height: 1.5;
		margin: 0;
		text-wrap: pretty;
        font-family: monospace;
  }

    #unique-paragraph {
        font-size: 0.9rem;
    }

    /* Media Queries para Pantallas Pequeñas */
    @media (max-width: 768px) {
        /* Reducir el tamaño de la fuente en pantallas medianas y pequeñas */
        #unique-paragraph {
            font-size: 0.85rem;
        }
    }

    /* Media Queries para Pantallas Extra Pequeñas (Móviles) */
    @media (max-width: 480px) {
        /* Reducir aún más el tamaño de la fuente en pantallas muy pequeñas */
        #unique-paragraph {
            font-size: 0.8rem;
        }
    }
</style>