---
const { text = "" } = Astro.props;
const words = text.split(" ");
---

<span class="animated-text">
  {
    words.map((word: string, i: number) => (
      <span class="word">
        {word.split("").map((letter: string, j: number) => (
          <span class="letter">
            {letter}
          </span>
        ))}
      </span>
    ))
  }
</span>

<style is:global>
  .animated-text {
    display: inline;
  }
  
  .word {
    display: inline-block;
    margin-right: 0.35em;
    cursor: default;
    position: relative;
  }
  
  .letter {
    display: inline-block;
    color: #777;
    opacity: 0.9;
    transition: opacity 0.25s ease;
    position: relative;
  }

  .word:hover .letter {
    color: #555;
    opacity: 1;
  }

  .word:hover .letter::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 0.5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  .word:hover .letter:hover::after {
    transform: scaleX(1);
  }
</style>